<a href="https://colab.research.google.com/github/Arimoro2020/food-sales-predictions./blob/main/Data_Cleaning_%26_Preparation_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Cleaning & Preparation

In [ ]:
# Mount Data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Import Libraries
import pandas as pd

In [ ]:
# Load Data & View first 5 rows
filename2 = '/content/drive/MyDrive/PTDataScience/Pandas_for_Data_Manipulation/sales_predictions.csv'
sales_df = pd.read_csv(filename2)
sales_df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

Irrelevant Data

In [ ]:
sales_df['Item_Identifier'].value_counts().head()
    # Non unique values in this column; not irrelevant

FDW13    10
FDG33    10
FDF52     9
FDW26     9
DRE49     9
Name: Item_Identifier, dtype: int64

In [ ]:
sales_df['Outlet_Identifier'].value_counts().head()
# Non unique values in this column; not irrelevant

OUT027    935
OUT013    932
OUT046    930
OUT049    930
OUT035    930
Name: Outlet_Identifier, dtype: int64

Duplicate Data

In [ ]:
# Check for duplicate data
sales_df.duplicated().any()

False

Syntax or Spelling Errors

In [ ]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
# Syntax errors: 'LF', 'reg', 'low fat'
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [ ]:
# Rename 'Item_Fat_Content' rows with syntax error.
sales_df['Item_Fat_Content'] = sales_df['Item_Fat_Content'].replace(to_replace=['LF', 'reg', 'low fat'], value=['Low Fat', 'Regular', 'Low Fat'])
sales_df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

Data Types

In [ ]:
sales_df['Outlet_Establishment_Year'].dtype

dtype('int64')

In [ ]:
sales_df['Outlet_Establishment_Year'].describe()

count    8523.000000
mean     1997.831867
std         8.371760
min      1985.000000
25%      1987.000000
50%      1999.000000
75%      2004.000000
max      2009.000000
Name: Outlet_Establishment_Year, dtype: float64

Missing Data

In [ ]:
# Check for missing data
# Item Weight column & Outlet_Size have missing data.
sales_df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
item_info_filter = sales_df.loc[ : , ('Item_Identifier', 'Item_Weight')]
item_info_filter.head(25)

   Item_Identifier  Item_Weight
0            FDA15        9.300
1            DRC01        5.920
2            FDN15       17.500
3            FDX07       19.200
4            NCD19        8.930
5            FDP36       10.395
6            FDO10       13.650
7            FDP10          NaN
8            FDH17       16.200
9            FDU28       19.200
10           FDY07       11.800
11           FDA03       18.500
12           FDX32       15.100
13           FDS46       17.600
14           FDF32       16.350
15           FDP49        9.000
16           NCB42       11.800
17           FDP49        9.000
18           DRI11          NaN
19           FDU02       13.350
20           FDN22       18.850
21           FDW12          NaN
22           NCB30       14.600
23           FDC37          NaN
24           FDR28       13.850

In [ ]:
item_counts = item_info_filter.drop_duplicates()
item_counts.tail(20)

     Item_Identifier  Item_Weight
8327           FDT24          NaN
8345           FDY28          NaN
8351           NCE43          NaN
8353           NCX41          NaN
8356           FDN45          NaN
8362           FDY37          NaN
8367           FDA32          NaN
8372           FDA01          NaN
8373           FDX44          NaN
8383           NCQ54          NaN
8405           FDB09          NaN
8422           FDD08          NaN
8435           FDT48          NaN
8442           FDX40          NaN
8463           FDG59          NaN
8471           NCT53          5.4
8472           NCS41          NaN
8480           FDQ58          NaN
8487           DRG13          NaN
8504           NCN18          NaN

In [ ]:
# Each item has an Item_Identifier from which the Item_Weight can be inferred
#filter = sales_df['Item_Identifier'] == 'FDN15'

#new_value = sales_df[filter]['Item_Weight'].mean()
#new_value

In [ ]:
for label, row in sales_df.iterrows():
    filter1 = sales_df['Item_Identifier'] == row['Item_Identifier']
    new = sales_df[filter1]['Item_Weight'].mean()
    sales_df.loc[label: , 'Item_Weight'].replace(to_replace=row['Item_Weight'], value=new, inplace=True)
    
sales_df['Item_Weight']

0        9.300
1        5.920
2       17.500
3       19.200
4        8.930
         ...
8518     6.865
8519     8.380
8520    14.520
8521     7.210
8522    16.480
Name: Item_Weight, Length: 8523, dtype: float64

In [ ]:
# Check for any remaining missing data in the 'Item_Weight' column
sales_df['Item_Weight'].isnull().sum()

0

In [ ]:
sales_df['Item_Weight'].dtype

dtype('float64')

In [ ]:
#Each outlet has an Outlet_Identifier from which the outlet_size can be inferred
#for label, row in sales_df.iterrows():
    #filter2 = sales_df['Outlet_Identifier'] == row['Outlet_Identifier']
    #new_val = sales_df[filter2]['Outlet_Size'].unique()
    #new_val = str(new_val[0])
    #sales_df.loc[label: , 'Outlet_Size'].replace(to_replace=row['Outlet_Size'], value=new_val, inplace=True)
 
      
   
#sales_df['Outlet_Size'].head(20)
#'Outlet_Size' column has to be dropped

In [ ]:
sales_df.drop(columns='Outlet_Size', inplace=True)
sales_df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 11 columns]